*{
	font-family:Raleway;
}
.jumbotron{
	background-color:whitesmoke;
}
.navbar{
	float:left;
	display:block;

}
#menubar{
	color:black;
	margin:20px;
}

.lorem-ipsum{
	background-color:white;
	color:black;
	margin-bottom:-16px;
}
.fixmargin{
	margin-bottom:-15px;
	background-color:white;
}
ul{
	list-style:none;
}
a{
	color:black;
}
input.placeholder{
	text-align:center;
}
