*{
	font-family:Raleway;
}
.jumbotron{
	background-color:whitesmoke;
}
.navbar{
	float:left;
	display:block;
}
#topBtn{
	position:fixed;
	bottom:20px;
	right:30px;
	display:none;
	cursor:pointer;
	z-index:99;
}
#menubar{
	color:black;
	margin:20px;
	font-size:22px;
}

.lorem-ipsum{
	background-color:white;
	color:black;
	margin-bottom:-16px;
}
.fixmargin{
	margin-bottom:-15px;
	background-color:white;
}
ul{
	list-style:none;
}
a{
	color:black;
}
input.placeholder{
	text-align:center;
}
